@charset "UTF-8";

/**
 * Color variables
 */
$background: #6B6B6B;
$color-success: #00FF00;
$color-warning: #FF3333;
$color-danger: #FF0000;

$element-background: #7A7A7A;
$element-indicator: #595959;
$element-border: #474747;
$element-border-width: 6px; //Deprecated

/**
 * Variables
 */
$lighten: 10%;
$darken: 5%;
$border-width: 5px;

%border {
	border: $element-border-width solid $element-border;
}


@import "layout.scss";
@import "directives.scss";
